<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>{{student.name}}</h1>
    <h2>{{student.bio}}</h2>
    <p>{{student.goal}}</p>

    <p><a href="/students/{{student._id}}/edit">Edit Student Profile</a></p>

    <!-- Delete button -->
    <p><form method="POST" action="/students/{{student._id}}?_method=DELETE">
      <button type="submit">Delete Profile</button>
    </form></p>

    <a href="/students">Back to All Students</a>

    <!-- Payment Form -->
    {{> payment-form}}

    <!-- See Payments -->
    {{#each payments}}
      {{> payment}}
    {{/each}}
  </div>
</div>
